USE [master]
GO
/****** Object:  Database [PARCIAL1]    Script Date: 29/09/2024 13:08:34 ******/
CREATE DATABASE [PARCIAL1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PARCIAL1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PARCIAL1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PARCIAL1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PARCIAL1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PARCIAL1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PARCIAL1]
GO
/****** Object:  Table [dbo].[DEPORTE]    Script Date: 29/09/2024 13:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPORTE](
	[ID_DEPORTE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDO]    Script Date: 29/09/2024 13:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDO](
	[ID_PARTIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPORTE] [int] NOT NULL,
	[EQUIPO_LOCAL] [varchar](100) NOT NULL,
	[EQUIPO_VISITANTE] [varchar](100) NOT NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
	[FECHA_PARTIDO] [datetime] NOT NULL,
	[MARCADOR_LOCAL] [int] NOT NULL,
	[MARCADOR_VISITANTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PARTIDO]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_DEPORTE] FOREIGN KEY([ID_DEPORTE])
REFERENCES [dbo].[DEPORTE] ([ID_DEPORTE])
GO
ALTER TABLE [dbo].[PARTIDO] CHECK CONSTRAINT [FK_PARTIDO_DEPORTE]
GO
USE [master]
GO
